btn()
    display: inline-block
    box-sizing: border-box
    text-align: center
    cursor: pointer
    white-space: nowrap
    padding: 6px 12px
    font-size: 15px
container()
    width 992px
    margin-right auto
    margin-left auto
    padding-left 15px
    padding-right 15px
detail-aside()
    box-sizing border-box
    background #fff
    margin-bottom 10px
    border-radius 4px
avatar-img()
    display block
    border-radius 50%
    border 1px solid #eee
    min-width 48px
    min-height 48px
    width 48px
    height 48px